/* Fonts */

/* 100 | Thin */
@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url('fonts/GraphikLCG-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: italic;
  font-weight: 100;
  src: url('fonts/GraphikLCG-ThinItalic.woff2') format('woff2');
}

/* 200 | Extra Light */
@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url('fonts/GraphikLCG-Extralight.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: italic;
  font-weight: 200;
  src: url('fonts/GraphikLCG-ExtralightItalic.woff2') format('woff2');
}

/* 300 | Light */
@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/GraphikLCG-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: url('fonts/GraphikLCG-LightItalic.woff2') format('woff2');
}

/* 400 | Normal */
@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/GraphikLCG-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: italic;
  font-weight: normal;
  src: url('fonts/GraphikLCG-RegularItalic.woff2') format('woff2');
}

/* 500 | Medium */
@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/GraphikLCG-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src: url('fonts/GraphikLCG-MediumItalic.woff2') format('woff2');
}

/* 600 | Semi Bold */
@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('fonts/GraphikLCG-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  src: url('fonts/GraphikLCG-SemiboldItalic.woff2') format('woff2');
}

/* 700 | Bold */
@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/GraphikLCG-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src: url('fonts/GraphikLCG-BoldItalic.woff2') format('woff2');
}

/* 900 | Black */
@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url('fonts/GraphikLCG-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-display: swap;
  font-style: italic;
  font-weight: 900;
  src: url('fonts/GraphikLCG-BlackItalic.woff2') format('woff2');
}

/* Graphik Super */
@font-face {
  font-family: 'Graphik Super';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/GraphikLCG-Super.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik Super';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/GraphikLCG-SuperItalic.woff2') format('woff2');
}
