*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --max-width: 1370px;
  --color-primary-700: hsl(241, 80%, 70%);
  --color-primary-800: hsl(237, 54%, 55%);
  --color-primary-900: hsl(237, 54%, 45%);
  --color-gray-0: hsl(210, 0%, 100%);
  --color-gray-50: hsl(210, 10%, 98%);
  --color-gray-70: hsl(210, 0%, 93%);
  --color-gray-100: hsl(0, 0%, 80%);
  --color-gray-200: hsl(210, 1%, 63%);
  --color-gray-500: hsl(240, 10%, 50%);
  --color-gray-800: hsl(240, 0%, 14%);
  --color-gray-900: hsl(240, 10%, 10%);
}

.page {
  font-family: Graphik, Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #060e3d;
}

.page__body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #f9fafb;
}

.page__body--lock {
  height: 100vh;
  overflow: hidden;
}

.page__body--lock .main {
  overflow: hidden;
}
