@import './styles/lecture.css';

.lectures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px 0;
}

@media (min-width: 900px) {
  .lectures {
    grid-template-columns: repeat(2, minmax(auto, 450px));
  }
}
