.profile-info {
  --bg-color: hsl(60, 11%, 94%);
  padding: 32px 16px;
  background-color: var(--bg-color);
  border-radius: 20px;
}

.profile-info__header {
  margin-bottom: 20px;
}

.profile-info__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
}

.profile-info__description {
  margin: 0;
  font-size: 14px;
}

.profile-form-group {
  --shadow-color: hsl(0, 0%, 89%);
  display: block;
  padding: 16px 18px 10px;
  margin-bottom: 16px;
  background-color: var(--color-gray-0);
  border-radius: 10px;
  box-shadow: 0 0 0 1.5px var(--shadow-color);
  transition: all 0.3s;
}

.profile-form-group--active,
.profile-form-group:hover {
  --shadow-color: hsl(240, 5%, 70%);
}

.profile-form-group__label {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  font-size: 13px;
  color: var(--color-gray-500);
}

.profile-form-group__input {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  font-family: inherit;
  font-size: 16px;
  color: var(--color-gray-900);
  border: 0;
  outline: none;
}

.profile-info__buttons {
  display: flex;
  justify-content: space-between;
}

.profile-info__button {
  padding: 12px 24px;
  margin-top: 25px;
  color: var(--color-gray-0);
  cursor: pointer;
  background-color: var(--color-primary-900);
  border: 0;
  border-radius: 5px;
  transition: background-color 0.15s ease-out;
}

.profile-info__button:focus,
.profile-info__button:hover {
  background-color: var(--color-gray-900);
}

.profile-info__button:disabled {
  --color-gray-0: hsl(48, 4%, 70%);
  --color-primary-900: hsl(0, 0%, 90%);
  cursor: auto;
}
