.courses__container {
  max-width: var(--max-width);
  padding: 26px 20px;
  margin: 0 auto;
}

@media (min-width: 550px) {
  .courses__container {
    padding: 26px 40px;
  }
}

@media (min-width: 768px) {
  .courses__container {
    padding: 56px 40px;
  }
}

.courses__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .courses__title {
    margin-bottom: 60px;
    font-size: 52px;
  }
}

.courses__list {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

@media (min-width: 768px) {
  .courses__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 425px));

    /* grid-template-columns: repeat(2, 1fr); */
    gap: 20px;
  }
}
