*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --max-width: 1250px;
  --color-primary: hsl(246, 100%, 58%);
  --color-primary: hsl(241, 100%, 62%);
}

@media (min-width: 1500px) {
  :root {
    --max-width: 1630px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.body {
  margin: 0;
  font-family: Graphik, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: hsl(240, 60%, 10%);
  background-color: hsl(240, 10%, 98%);
}

#app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}
